# -*- coding: utf-8 -*-
import logging

# Main
api_key = "<YOUR API KEY>"
admin_id = <YOUR INT ADMIN ID>
log_file = 'bot_main.log'
log_all_moscow_file = 'bot_all_moscow.log'
log_parser_file = 'bot_parser.log'
log_update_manager_file = 'bot_update_manager.log'
console_log_level = logging.DEBUG
file_log_level = logging.DEBUG
log_format = '%(asctime)s - %(name)s - %(levelname)s - %(message)s'

# Users
user_messages_before_ignore = 50
default_user = {'auth': False, 'received_links': [],
                'ignore_left': user_messages_before_ignore,
                'updates_frequency': 60,
                'max_price': 0,
                'metro_stations': []}

# Invites
invite_length = 20

# Mongo
mongo_url = 'localhost'
mongo_port = 27017
mongo_database_name = 'telegram_realty_bot_db'
users_db = 'users'
user_links_db = 'user_links'
invites_db = 'invites'
flats_db = 'flats'

# RabbitMQ
rabbit_mq_url = 'localhost'
rabbit_mq_port = 5672
rabbit_mq_user = 'telegram_realty_admin'
rabbit_mq_pass = 'realty_da_best'

new_offers_queue = 'new_offers_queue'
check_url_req_queue = 'check_url_req'
check_url_ans_queue = 'check_url_ans'
parse_url_req_queue = 'parse_url_req'
parse_url_ans_queue = 'parse_url_ans'
parse_all_moscow_req_queue = 'parse_all_moscow_req'
parse_all_moscow_ans_queue = 'parse_all_moscow_ans'

# Default invites count
default_invites_count = 10

# CIAN parser
cian_default_timeout = 7200
cian_min_timeout = 7200
cian_trials_before_none = 5
debug_cian = False

# Input awaitance time (seconds)
awaitance = 120

# Max length of a tag
max_tag_len = 30

# Minimum update duration (minutes)
min_time_update_len = 1

telegram_max_length = 4096

max_inline_answers = 50

# This request was too big for the server
"""
links_to_parse = [
    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=125&district[10]=154&district[11]=327&district[12]=328"
    "&district[13]=329&district[14]=330&district[15]=331&district[16]=332&district[17]=333&district[18]=334"
    "&district[19]=335&district[1]=126&district[20]=336&district[21]=337&district[22]=338&district[23]=339"
    "&district[24]=340&district[25]=341&district[26]=342&district[27]=343&district[28]=344&district[29]=345"
    "&district[2]=127&district[30]=346&district[31]=347&district[32]=355&district[33]=356&district[34]=357"
    "&district[35]=358&district[3]=128&district[4]=129&district[5]=130&district[6]=131&district[7]=132&district[8]=152"
    "&district[9]=153&engine_version=2&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=112&district[10]=122&district[11]=123&district[12]=124"
    "&district[13]=348&district[14]=349&district[15]=350&district[1]=113&district[2]=114&district[3]=115"
    "&district[4]=116&district[5]=117&district[6]=118&district[7]=119&district[8]=120&district[9]=121"
    "&engine_version=2&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=100&district[10]=110&district[11]=111&district[1]=101"
    "&district[2]=102&district[3]=103&district[4]=104&district[5]=105&district[6]=106&district[7]=107&district[8]=108"
    "&district[9]=109&engine_version=2&offer_type=flat&room1=1&type=-2",

    # ЮАО 1
    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=84&district[10]=94&district[11]=95&district[12]=96"
    "&district[1]=85&district[2]=86&district[3]=87&district[4]=88&district[5]=89&district[6]=90&district[7]=91"
    "&district[8]=92&district[9]=93&engine_version=2&offer_type=flat&room1=1&type=-2",
    # ЮАО 2
    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=97&district[1]=98&district[2]=99&engine_version=2"
    "&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=72&district[10]=82&district[11]=83&district[1]=73"
    "&district[2]=74&district[3]=75&district[4]=76&district[5]=77&district[6]=78&district[7]=79&district[8]=80"
    "&district[9]=81&engine_version=2&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=56&district[10]=66&district[11]=67&district[12]=68"
    "&district[13]=69&district[14]=70&district[15]=71&district[1]=57&district[2]=58&district[3]=59&district[4]=60"
    "&district[5]=61&district[6]=62&district[7]=63&district[8]=64&district[9]=65&engine_version=2&offer_type=flat"
    "&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=39&district[10]=49&district[11]=50&district[12]=51"
    "&district[13]=52&district[14]=53&district[15]=54&district[16]=55&district[1]=40&district[2]=41&district[3]=42"
    "&district[4]=43&district[5]=44&district[6]=45&district[7]=46&district[8]=47&district[9]=48&engine_version=2"
    "&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=23&district[10]=33&district[11]=34"
    "&district[12]=35&district[13]=36&district[14]=37&district[15]=38&district[1]=24&district[2]=25"
    "&district[3]=26&district[4]=27&district[5]=28&district[6]=29&district[7]=30&district[8]=31&district[9]=32"
    "&engine_version=2&offer_type=flat&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&district[0]=13&district[1]=14&district[2]=15&district[3]=16"
    "&district[4]=17&district[5]=18&district[6]=19&district[7]=20&district[8]=21&district[9]=22&engine_version=2"
    "&offer_type=flat&room1=1&type=-2",

]
"""
links_to_parse = [
    "http://www.cian.ru/cat.php?deal_type=rent&engine_version=2&foot_min=15&metro[0]=57&metro[1]=60&metro[2]=72"
    "&metro[3]=228&metro[4]=233&metro[5]=234&metro[6]=235&metro[7]=244&offer_type=flat&only_foot=2&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&engine_version=2&foot_min=15&metro[0]=11&metro[10]=229&metro[11]=272"
    "&metro[1]=35&metro[2]=46&metro[3]=62&metro[4]=70&metro[5]=87&metro[6]=93&metro[7]=120&metro[8]=141&metro[9]=142"
    "&offer_type=flat&only_foot=2&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&engine_version=2&foot_min=15&metro[0]=12&metro[10]=275&metro[1]=14"
    "&metro[2]=81&metro[3]=94&metro[4]=97&metro[5]=122&metro[6]=133&metro[7]=134&metro[8]=154&metro[9]=159"
    "&offer_type=flat&only_foot=2&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&engine_version=2&foot_min=15&metro[0]=12&metro[10]=275&metro[1]=14"
    "&metro[2]=81&metro[3]=94&metro[4]=97&metro[5]=122&metro[6]=133&metro[7]=134&metro[8]=154&metro[9]=159"
    "&offer_type=flat&only_foot=2&room1=1&type=-2",

    "http://www.cian.ru/cat.php?deal_type=rent&engine_version=2&foot_min=15&metro[0]=9&metro[1]=15&metro[2]=29"
    "&metro[3]=30&metro[4]=36&metro[5]=106&metro[6]=116&offer_type=flat&only_foot=2&room1=1&type=-2",
]
parser_wait_time = 5 * 60

suspicious_check_weekday_iso = 7
suspicious_check_hour_min = 3
suspicious_check_hour_max = 6
suspicious_check_sleep_time = 60 * 60
suspicious_fraction = 0.05

