# -*- coding: utf-8 -*-
import logging

# Main
api_key = "<YOUR API KEY>"
admin_id = <YOUR INT ADMIN ID>
log_file = 'bot.log'
console_log_level = logging.DEBUG
file_log_level = logging.DEBUG
log_format = '%(asctime)s - %(name)s - %(levelname)s - %(message)s'

# Users
user_messages_before_ignore = 50
default_user = {'auth': False, 'received_links': [],
                'ignore_left': user_messages_before_ignore,
                'updates_frequency': 60}

# Invites
invite_length = 20

# Mongo
mongo_url = 'localhost'
mongo_port = 27017
mongo_database_name = 'telegram_realty_bot_db'
users_db = 'users'
user_links_db = 'user_links'
invites_db = 'invites'
flats_db = 'flats'

# Default invites count
default_invites_count = 10

# CIAN parser
cian_default_timeout = 7200
cian_min_timeout = 30
cian_trials_before_none = 5
debug_cian = False

# Input awaitance time (seconds)
awaitance = 120

# Max length of a tag
max_tag_len = 30

# Minimum update duration (minutes)
min_time_update_len = 1

telegram_max_length = 4096

