beautifulsoup4==4.4.1
decorator==4.0.9
ipdb==0.9.0
ipython==4.1.1
ipython-genutils==0.1.0
logger==1.4
lxml==3.5.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pymongo==3.2.1
requests==2.9.1
requests-cache==0.4.10
simplegeneric==0.8.1
traitlets==4.1.0
wheel==0.26.0
